

<html>

    <body>
       
    
        <div id="container1">
    
            <img alt="citibank" src="/assets/login5.png">    
        
        </div>
    
    
    <div id="container">
    <form>
        
    
    <img alt="citibank" src="/assets/login3.png" style="margin-left: 100px">
    
    
    <div class="form-group">
      <label for="name"><b>Username</b></label>
      <input type="text" class="form-control" id="name" required>
    </div>
    
    <div class="form-group">
      <label for="password"><b>Password</b></label>
      <input type="password" class="form-control" id="password">
    </div>
    
    <button type="submit" class="btn btn-success">Log In</button>
    
    <p><b>Don't have an account?</b> 
    &nbsp;<a href=""><b> Sign Up</b></a>
    </p>
       
    </form>
    
    </div>
    
    </body>
    </html>