<br><br>


<div id="img">

    <img src="/assets/try.png">
</div>
<div id="container">
    
<mat-card  [style]="{width: '500px', height: '183px', 'background-color': '#fff'}" styleClass="custom">
            
    <mat-card-title >   
            <p id="usd_header"> USD &nbsp;ACCOUNT</p>
    </mat-card-title>
    <p id="usd">
        $65,789.89
    </p>
    <p id="usd_balance">Account Number: 5235070707
        <br> Net Inflow = $usd
        <br> Net Outflow =$usd
    </p>
    
      
    
</mat-card>
            

</div>    
<button>

    Add Transaction

</button>

