<div class="split left">
    <div class="centered">
      <img src="./assets/personicon.jpg" alt="Personal info">
      <h3>Personal Information</h3>
      
      <div class="container">
            <form>
          
              <div class="formgroup">
              <label for="name"> Name</label>
              <input type="text" id="name" name="name" placeholder="Your name">
            </div>


            <div class="formgroup">
              <label for="contact">Contact No.</label>
              <input type="text" id="contact" name="contact" placeholder="Contact Number">
            </div>


            <div class="formgroup">
              <label for="email">Email ID</label>
              <input type="text" id="email" name="mailID" placeholder="Email ID">
            </div>

            <div class="formgroup">
              <label for="address">Address</label>
              <textarea id="text" name="address" placeholder="Your full address" style="height:60px"></textarea>

            </div>    
            <button id="userinfo" class="btn btn-success">Update</button>
        </form>
        </div>

    </div>
  </div>
  
  <div class="split right">
    <div class="centered">
      <img src="./assets/lockimage.png" alt="Account info">
      <h3>Account information</h3>
      
      <div class="container1">
        <form>
            <label for="username">Username</label>
            <input type="text" readonly="username" name="username" placeholder="Non-Editable Username">
      
            <label for="password">Old Password</label>
            <input type="text" id="password" name="password" placeholder="Enter old password">
            
            <label for="password">New Password</label>
            <input type="text" id="password" name="password" placeholder="Enter a new secure password">

            <label for="password">Confirm Password</label>
            <input type="text" id="password" name="password" placeholder="Re-enter new password">
            
            <button id="accinfo" class="btn btn-success">Update</button>
      
        </form>
      </div>
    </div>
  </div>
